*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--stone100);
}
.container{
  background-color: white;
  max-width: 46em;
  border-radius: 1.5em;
  padding: 2.5em;
}
img{
  margin-bottom: 0.5rem;
}
.omelete{
  max-width: 41rem;
  border-radius: 0.75rem;
}
.header{
  padding: 2rem;
}
h1{
  margin-bottom: 2rem;
}
.time{
  background-color: var(--rose50);
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-top: 2rem;
}
.time ul{
  display: block;
  margin-left: 2rem;
}
.time li{
  list-style: none;
  margin: 0.5em 0;
}
.time li::before{
  content: "•";
  color: var(--rose800);
  position: relative;
  right: 1.75em;
}
.time h3{
  color: var(--rose800);
  padding-bottom: 1em;
}
.ingredients h3{
  margin: 2rem 0 1.5rem 0;
}
.ingredients ul li {
  margin-left: 2.125rem; 
}
.ingredients li{
  margin:  0.5rem 0 0 .750rem;
  color: var(--brown800);
}
.ingredients li p{
  font-weight: 400;
  color: var(--stone600);
}
.line{
  margin: 2rem 0;
  color: var(--stone150);
}
.instructions h3{
  margin-bottom: 1.5rem;
}
.steps{
  list-style: decimal;
  margin-left: 2rem;
  font-weight: 700!important;
}
.steps li{
  color: var(--brown800);
}
.steps li p{
  margin-left: 1rem;
  font-weight: 400;
  color: var(--stone600);
}
.nutrition{
  color: var(--brown800);
}
.tabledescription{
  padding: 1.5em 0 1.5em 0;
}
.specs{
  color: var(--brown800);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col1{
  margin-left: 2em;
}
.col1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.linetable{
  margin: 0.75em 0;
  color: var(--stone150);
}
/*      TABLET        */

@media(max-width: 810px){
  .container{
    max-width: 38.5rem;
  }
  .omelete{
    width: 536px;
    height: 300px;
  }
}




 /*     MOBILE       */

@media (max-width: 400px){
  .container{
    border-radius: 0;
    padding: 0;
   }
  .omelete{
  width: 375px;
  height: 171px;
  border-radius: 0;
 }
 h1{
  font-size: 2.25rem!important;
  line-height: 100%;
 }
 .line{
  margin: 2rem;
 }
 .time{
  margin: 2 2rem 0 2rem;
 }
 .time h3{
  font-size: 1.25rem;
 }
 .ingredients,.instructions{  
  padding: 0 2rem;
 }
 .ingredientstitle{
  margin: 2rem 2rem 1.5rem 2rem;
 }
 .divnutrition{
  padding: 0 2rem 2.5rem 2rem;
 }
}
